/* 
 * 屬於全域的設定，作用是 Reset 不想要出現的 html 5 預設樣式
 */

@layer base {
  html {
    scrollbar-gutter: stable;
    width: 100vw;
    overflow-x: hidden;
  }
  html, .none-scroll {
    &::-webkit-scrollbar {
      display: none;  /* Chrome, Safari, Opera */
    }

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* 字體渲染設定 */
  html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }

  /* 清除 input type="search" 的預設樣式  */
  input[type="search"] {
    -webkit-appearance: none;
  }

  /* 清除 input type="number" 的預設樣式  */
  input[type="number"] {
    -webkit-appearance: none;
  }

  /* 清除 focus 的預設樣式 */
  *:focus {
    outline: none;
  }

  /* Lenis */
  html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    /* pointer-events: none; */
  }

  /* 隱藏 reCAPTCHA badge */
  .grecaptcha-badge { visibility: hidden !important; }
  
  .set {
    @apply px-5 max-w-[1440px] mx-auto w-full;
  }

}
