.defaultEditorStyle *:not(:last-child && li){
  margin-bottom: 1.25rem;
}
.defaultEditorStyle h1 {
  font-size: 2.25rem;
  letter-spacing: 0px;
  line-height: 150%;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .defaultEditorStyle h1 {
    font-size: 1.5rem;
    letter-spacing: 0px;
    line-height: 150%;
    font-weight: 700;
  }
}
.defaultEditorStyle h2{
  font-size: 2rem;
  letter-spacing: 0px;
  line-height: 150%;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .defaultEditorStyle h2 {
    font-size: 1.375rem;
    letter-spacing: 0px;
    line-height: 150%;
    font-weight: 700;
  }
}

.defaultEditorStyle h3{
  font-size: 1.5rem;
  letter-spacing: 0px;
  line-height: 150%;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .defaultEditorStyle h3{
    font-size: 1.25rem;
    letter-spacing: 0px;
    line-height: 150%;
    font-weight: 700;
  }
}

.defaultEditorStyle h4{
  font-size: 1.25rem;
  letter-spacing: 0px;
  line-height: 150%;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .defaultEditorStyle h4{
    font-size: 1.125rem;
    letter-spacing: 0px;
    line-height: 150%;
    font-weight: 400;
  }
}

.defaultEditorStyle h5{
  font-size: 1.125rem;
  letter-spacing: 0px;
  line-height: 150%;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .defaultEditorStyle h5{
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 150%;
    font-weight: 700;
  }
}

.defaultEditorStyle p{
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 1px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .defaultEditorStyle p{
    font-size: 1rem;
    line-height: 150%;
    /* letter-spacing: 5px; */
    font-weight: 400;
  }
}

.defaultEditorStyle ul {
  padding-left: 1.5rem;
}

.defaultEditorStyle ul li{
    position: relative;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.defaultEditorStyle ul li::before{
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
  position: absolute;
  top: 8px;
  left: -0.5rem;
  transform: translate(-100%,0);
}

.defaultEditorStyle ul li:not(:last-child){
  margin-bottom: 5px;
}

.defaultEditorStyle ol {
  counter-reset: item;
  padding-left: 30px;
}

.defaultEditorStyle ol li{
    position: relative;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.defaultEditorStyle ol li::before{
  content:'';
  width: 1.25rem;
  height: 1.25rem;
  border:1px solid black;
  background-color: black;
  position: absolute;
  top: 4px;
  left: -10px;
  transform: translate(-100%,0);
  border-radius: 999px;
}

.defaultEditorStyle ol li::after{
  content: counter(item) '';
  counter-increment: item;
  color: white;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  vertical-align: bottom;
  position: absolute;
  top: 2px;
  left: -12px;
  transform: translate(-100%,0);
}

.defaultEditorStyle ol li:not(:last-child){
  margin-bottom: 5px;
}

.defaultEditorStyle img{
  width: 100%;
}
.defaultEditorStyle video , .defaultEditorStyle .wp-video{
  width: 100% !important;
}
.defaultEditorStyle .gallery{
  display: flex;
  align-items: center;
  gap:1rem;
}

.defaultEditorStyle .gallery .gallery-item{
  flex:1;
  margin-bottom: 0 !important;
}

.defaultEditorStyle .gallery img{
  margin-bottom: 0 !important;
}

.defaultEditorStyle .gallery .gallery-icon{
  margin-bottom: 0 !important;
}

.defaultEditorStyle a{
  color: #5FA718;
  text-decoration: underline;
}

.defaultEditorStyle blockquote{
  padding: 1rem 10px;
  color: black;
  font-style: normal;
  width: fit-content;
  margin: 0 auto;
}

.defaultEditorStyle blockquote p{
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 0 !important;
  margin-right: 40px;
  margin-left: 40px;
}
.defaultEditorStyle blockquote p::before{
  content: '';
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  top:50%;
  left: 0%;
  transform: translate(-50px,-50%);
}
.defaultEditorStyle blockquote p::after{
  content: '';
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  top:50%;
  right: 0%;
  transform: translate(50px,-50%);
}

.defaultEditorStyle strong{
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .defaultEditorStyle blockquote{
    padding: 20px 12px;
    margin-right:16px;
    margin-left:16px;
  }
}